/* src/index.css */
@import "tailwindcss";

@theme {
  --color-brand-dark: #1f1f1f;         /* Fundo escuro elegante */
  --color-brand-black: #0f0f0f;        /* Preto suave */
  --color-brand-metal-light: #e3e3e3;  /* Prata clara - texto principal */
  --color-brand-metal-medium: #b5b5b5; /* Prata média - detalhes */
  --color-brand-white: #f5f5f5;        /* Quase branco metálico */

  /* Aplicações */
  --color-bg-base: var(--color-brand-dark);
  --color-bg-light: var(--color-brand-black);
  --color-text-main: var(--color-brand-metal-light);
  --color-accent: var(--color-brand-metal-medium);
}
